.meal-type-selector {
  margin-top: 20px;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button-row button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #ffedd8;
  border: 2px solid #ad5a27;
  color: #ad5a27;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-row button:hover {
  background-color: #ad5a27;
  color: #fff;
}
